* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

button,
input,
textarea {
  border: 0;
  padding: 0;
  background: inherit;
  outline: none;
  cursor: pointer;
}

h4,
p {
  margin: 0;
}

.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  padding: 15px 0;
}

.create-event-btn {
  margin-left: 50px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 17px;
  -webkit-box-shadow: -1px 2px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 7px -4px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  color: #000000;
}

.create-event-btn__icon {
  margin-right: 15px;
  font-size: 20px;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.2705882353);
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.popup__button {
  display: block;
  width: 100%;
  background: #1973e9;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

.update-event-btn {
  margin-top: 15px;
}

.hidden {
  display: none;
}

.navigation {
  margin-left: 60px;
}
.navigation__today-btn {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
}
.navigation__nav-icon {
  font-size: 20px;
}
.navigation__prev {
  margin-left: 40px;
}
.navigation__next {
  margin-left: 20px;
}
.navigation__displayed-month {
  margin-left: 40px;
  font-size: 20px;
  color: #000000;
}

.calendar {
  overflow-x: auto;
  overflow-y: scroll;
}
.calendar__header {
  display: flex;
  border-top: 1px solid #888c92;
  border-bottom: 1px solid #888c92;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff;
}
.calendar__time-zon {
  width: 140px;
  padding: 5px;
  text-align: center;
  align-content: flex-end;
  color: #888c92;
}
.calendar__week-container {
  display: flex;
}
.calendar__time-scale {
  width: 140px;
}
.calendar__week {
  flex: 1;
  display: flex;
}
.calendar__day {
  flex: 1;
  position: relative;
}
.calendar__time-slot {
  height: 60px;
  border-bottom: 1px solid #888c92;
  border-left: 1px solid #888c92;
  position: relative;
}

.day-label {
  margin-top: 35px;
  flex: 1;
  text-align: center;
}
.day-label__day-name {
  display: inline-block;
  width: 100%;
  color: #888c92;
}
.day-label__day-number {
  display: inline-block;
  margin: 5px auto;
  width: 50px;
  line-height: 50px;
}
.day-label__day-number_next-color {
  color: #000000;
}
.day-label__day-number_prew-color {
  color: #888c92;
}

.today__day-name {
  color: #6495ed;
}
.today__day-number {
  border-radius: 50%;
  background: #1973e9;
  color: #ffffff;
}
.today__time::before {
  content: '';
  position: absolute;
  top: var(--today__timeBeforeTop);
  right: 0;
  left: 0;
  border-top: 2px solid red;
  z-index: 5;
}

.time-slot {
  height: 60px;
  text-align: center;
}
.time-slot__time {
  display: inline-block;
  margin-top: 60px;
  transform: translateY(-50%);
  color: #888c92;
}

.create-event {
  text-align: right;
}
.create-event__close-btn {
  width: 25px;
  line-height: 25px;
  transform: rotate(45deg);
  color: #888c92;
}

.event-form__text {
  width: 480px;
  font-size: 20px;
  color: #000000;
}
.event-form__text:focus {
  border-bottom: 2px solid #1973e9;
}
.event-form__time {
  margin-top: 30px;
  width: 480px;
  text-align: left;
}
.event-form .fa-clock {
  height: 40px;
}
.event-form__date {
  margin-left: 30px;
  line-height: 40px;
}
.event-form__date-start {
  line-height: 40px;
}
.event-form__date-end {
  line-height: 40px;
}
.event-form .fa-align-left {
  vertical-align: top;
  margin-top: 90px;
}
.event-form__textarea {
  margin-left: 30px;
  width: 430px;
  height: 200px;
  font-size: 20px;
}
.event-form__textarea::placeholder {
  line-height: 200px;
  font-size: 18px;
  color: #888c92;
}
.event-form__submit-btn {
  display: block;
  margin: 20px 0 0 auto;
  width: 140px;
  height: 40px;
  border-radius: 15px;
  background: #1973e9;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.event {
  position: absolute;
  width: 80%;
  z-index: 3;
  border-radius: 15px;
  padding: 5px;
  color: #ffffff;
  font-size: 18px;
  overflow: hidden;
}

.event__time {
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
