.calendar {
  overflow-x: auto;
  overflow-y: scroll;

  &__header {
    display: flex;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
  }

  &__time-zon {
    width: 140px;
    padding: $uinix;
    text-align: center;
    align-content: flex-end;
    color: $text-color-grey;
  }

  &__week-container {
    display: flex;
  }

  &__time-scale {
    width: 140px;
  }

  &__week {
    flex: 1;
    display: flex;
  }

  &__day {
    flex: 1;
  }

  &__time-slot {
    height: $height-box;
    border-bottom: 1px solid $color-grey;
    border-left: 1px solid $color-grey;
    position: relative;
  }
}

.day-label {
  margin-top: 35px;
  flex: 1;
  text-align: center;

  &__day-name {
    display: inline-block;
    width: 100%;
    color: $text-color-grey;
  }

  &__day-number {
    display: inline-block;
    margin: $uinix auto;
    width: 50px;
    line-height: 50px;
    color: $text-color-black;
  }
}

.today {
  &__day-name {
    color: $text-color-blue;
  }

  &__day-number {
    border-radius: 50%;
    background: $color-blue;
    color: $text-color-white;
  }

  &__time::before {
    content: '';
    position: absolute;
    top: var(--today__timeBeforeTop);
    right: 0;
    left: 0;
    border-top: 2px solid red;
  }
}
