.header {
  display: flex;
  padding: 15px 0;
}

.create-event-btn {
  margin-left: 50px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 17px;
  -webkit-box-shadow: -1px 2px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 7px -4px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  color: $text-color-black;
}

.create-event-btn__icon {
  margin-right: 15px;
  font-size: 20px;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup {
  &__content {
    position: absolute;
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  &__button {
    display: block;
    width: 100%;
    background: $color-blue;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    color: $text-color-white;
  }
}

.update-event-btn {
  margin-top: 15px;
}

.hidden {
  display: none;
}
