// стили формы события внутри модального окна
.create-event {
  text-align: right;

  &__close-btn {
    width: 25px;
    line-height: 25px;
    transform: rotate(45deg);
    color: $text-color-grey;
  }
}

.event-form {
  display: flex;
  flex-direction: column;

  &__text {
    font-size: 18px;
    color: $text-color-black;

    &:focus {
      border-bottom: 2px solid $color-blue;
    }
  }

  &__time {
    margin-top: $uinix;
    text-align: left;
  }

  &__date {
    line-height: 40px;
  }

  &__date-start {
    line-height: 40px;
  }

  &__date-end {
    line-height: 40px;
  }

  &__textarea {
    margin-top: $uinix;
    height: 100px;
    font-size: 18px;

    &::placeholder {
      font-size: 18px;
      color: $text-color-grey;
    }
  }

  &__submit-btn {
    display: block;
    margin: $uinix 0 0 auto;
    width: 140px;
    height: 40px;
    border-radius: $border-radius;
    background: $color-blue;
    color: $text-color-white;
    font-size: 18px;
    text-align: center;
  }
}
