// стили отображаемого в календаре события
.event {
  position: absolute;
  width: 80%;
  background: $color-blue2;
  z-index: 5;
  border-radius: 15px;
  padding: $uinix;
  color: $text-color-white;
  font-size: 18px;
}
