* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

button,
input,
textarea {
  border: 0;
  padding: 0;
  background: inherit;
  outline: none;
  cursor: pointer;
}

h4,
p {
  margin: 0;
}

@import 'varibles.scss';
@import 'page.scss';
@import 'common.scss';
@import 'navigation.scss';
@import 'calendar.scss';
@import 'timescale.scss';
@import 'create-event.scss';
@import 'event.scss';
