.navigation {
  margin-left: 60px;

  &__today-btn {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: 500;
  }

  &__nav-icon {
    font-size: 20px;
  }

  &__prev {
    margin-left: 40px;
  }

  &__next {
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 40px;
    font-size: 20px;
    color: $text-color-black;
  }
}
