$height-box: 120px;
$uinix: 5px;

$text-color-black: #000000;
$text-color-grey: #888c92;
$text-color-white: #ffffff;
$text-color-blue: #6495ed;

$color-grey: #888c92;
$color-blue: #1973e9;
$color-blue2: #6495ed;
